PORT=3000

DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/DB_NAME?schema=public"

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_password_here
DB_NAME=auth_service_api

JWT_SECRET="votre_secret_jwt_super_securise"
JWT_ACCESS_SECRET="access_secret_tres_securise"
JWT_REFRESH_SECRET="refresh_secret_tres_securise"
JWT_ACCESS_EXPIRATION="15m"
JWT_REFRESH_EXPIRATION="7d"

# AWS S3
AWS_REGION="eu-west-3"
AWS_ACCESS_KEY_ID="your_access_key_here"
AWS_SECRET_ACCESS_KEY="your_secret_key_here"
AWS_S3_BUCKET_NAME="connecteo-catalogues"

# Gemini (Chatbot API)
GEMINI_API_KEY="ton_API_key"

# SMTP (email notifications)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER="your-email@gmail.com"
SMTP_PASS="your-app-password"
CONTACT_RECIPIENT="contact@connecteo.com"
